body{
    margin: 0%;
    font-family: 'Anton', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Raleway', sans-serif;
}
/* Bannar related style */
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    background: rgba(229, 84, 115, 0.10);
}
.bannar img{
    padding: 50px 240px 0px;
}
.bannar h1{
    font-size: 80px;
    font-weight: 800;
    width: 708px;
}
p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
}
.bannar-text p{
    padding: 32px 0px;
}
.primary-color{
    border-radius: 8px;
    padding: 20px 43px;
    background: #E55473;
    border: none;
}
.btn-text{
    color: #FFF;
    font-size: 20px;
}
/* Bonus section related style */
h2{
    margin: 178px 0px 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
h3{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
h4{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.flower{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.flower-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;    
    background: #a7216226;       
}
.flower-1 img{
    padding: 110px 78px 0px;
}
.flower-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: #0597a026;
}
.flower-2 img{
    padding: 117px 47px 51px;
}
.flower-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: #477d1126;
}
.flower-3 img{
    padding: 67px 75px;
}
/* Unique section related style */
.unique-sec{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #b4e6bf,rgb(176, 248, 233));
    margin: 100px 80px;
    padding: 100px 0px;
    border-radius: 20px;
    box-shadow: 5px 10px 40px rgb(144, 177, 94);
}
.option-btn{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.h5{
    font-size: 24px;
    font-weight: 700;
    color: red;
    padding-left: 5px;
}
.icon-1{
    height: 25px;
    width: 25px;
    padding-top: 2px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: orangered;
}
.icon-2{
    font-size: 30px;
    padding: 8px 2px 0px 8px;
    text-align: center;
    border: 2px dashed rgb(103, 14, 206);
    height: 40px;
    width: 40px;
    border-radius: 40px;  
}
a{
    text-decoration: none;
}
.head-title{
    font-size: 50px;
    font-weight: 900;
    color: rgb(214, 3, 214);
}
.unique-sec-btn{
    padding: 20px 43px;
    border-radius: 40px;
    background: #111010;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border: none;
    box-shadow: 2px 10px 30px rgb(236, 216, 163);
}
.circle-img{
    border: 2px;
    height: 415px;
    width: 415px;
    box-shadow: 5px 5px 30px goldenrod;
    border-radius: 50%;
    background-image: url('images/flower/unique-ing.jpg');
    background-position: center;
    background-size: cover;
}
/* Optional section related style */
.optional-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 86px 175px 87px;
    margin: 128px 240px;
    border-radius: 8px;
    background: #2727270d;
}
.logo-1 img{
    padding-left: 142px;
}
.logo-1{
    padding-right: 50px;
}
.logo-2{
    padding-right: 42px;
}
.logo-2 img{
    padding-left: 114px;
}
.logo-3 img{
    padding-left: 57px;
}
.opt-sec-h3{
    color: #272727cc;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
/* Hot deals related style */
.hot-deals{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: #e554730d;
}
.hot-deals-text{
    text-align: center;
    padding-top: 150px;
}
.hot-btn{
    margin: 32px 0px 128px;
}
span{
    color: #E55473;
}
/* Instagram related style */
.insta-text{
    text-align: center;
}
.insta-text p{
    padding-bottom: 48px;
}
.insta-pic{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}
/* Get Latest News related style */
.get-latest{
    text-align: center;
    background-image: url('images/footer-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 240px;
}
.get-latest h3{
    padding-top: 122px;
    font-size: 40px;;
    font-weight: 800;
}
.mail-area{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 48px 0px 121px 287px;
}
.unique-btn{
    padding: 18px 31px;
    margin-right: 287px;
}
input{
    width: 700px;
    height: 64px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #27272799;
    padding: 23px 0px 22px 22px;
    border-radius: 8px;
    background: #FFF;
}
/* Footer related style */
.footer-description{
    text-align: center;
    background: #111010;
    margin-top: 128px;
}
.ft-h1{
    font-size: 48px;
    font-weight: 800;
    color: white;
    padding-top:128px ;
}
.footer-description p{
    color: #ffffffe6;
}
.footer-description h3{
    font-size: 16px;
    color: #ffffff66;
    font-weight: 400;
    padding: 32px 0px 128px;
}